body {
    background-color: rgba(250, 243, 148, 0.993);
    margin: 0px;
}

header {
    background-image: url("https://image.freepik.com/fotos-gratis/fundo-abstrato-bokeh-preto-e-branco_1962-1324.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* o flex está aplicado no elemento pai para alinhar os filhos <div class=logo> e <nav> */
    align-items: center;
    /* está alinhando os ítens do container no centro (no eixo y) */
    position: fixed;
    /* essa propriedade torna obrigatório usar um width para o elemento */
    top: 0;
    /* posiciona o elemento no topo do viewport */
    width: 100%;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    font-size: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 20px 20px 20px 20px;
}

nav ul li a:hover {
    background-color: black;
    color: white;
    border-radius: 20px;
}


.logo img {
    width: 150px;
    height: 80px;
}

main {
    margin: 94px 0 130px 0;
    /*essa margin é para o conteúdo do main não ficar escondido atrás do header e do footer */
}

main p {
    line-height: 32px;
    font-size: 21px;
}

main h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: brown;
    text-align: center;
    padding-top: 10px;
}

.texto-central {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 50%;
    margin: 30px auto;

}

main section.videos {
    width: 50%;
    margin: 0%;
    font-size: 18px;
    margin: 30px auto;
}

main section.videos p {
    font-size: 18px;
}

main.pag2 {
    display: flex;

}

main.pag2 img {
    width: 380px;
    height: 300px;
    padding: 20px auto 0px auto;
    margin: 20px auto 0px auto;
}

.botao-avançar {
    border: solid 2px black;
    border-radius: 20px;
    margin: 30px auto 0px auto;
    /* margin auto na esquerda e na direita jogou o botão para o centro */
    width: 60px;
    /* esse width e essa height estão delimitando o tamanho do elemento formado pela borda */
    height: 30px;
}

.botao-avançar img {
    width: 20px;
    height: 20px;
    padding: 5px 20px 20px 20px;

}

form fieldset {
    border: none;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

form label {
    display: block;
}

.button {
    margin-left: 15px;
}

footer {
    position: fixed;
    /* obrigatório usar width */
    left: 0;
    /* posiciona elemento no limite esquerdo da viewport */
    bottom: 0;
    /* posiciona elemento no limite inferior da viewport */
    background-color: rgb(244, 245, 243);
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px -2px grey;

}

.texto-footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 5px;
    margin: 20px;
    width: 50%;
}

.icones-footer {
    margin: 20px;
}

.icones-footer img {

    height: 40px;
    margin: 20px;
}